body{
    background: #dddddd;
}
.planet{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(236,93,74);
}
.planet,.orbit{
    position: absolute;
    top: 50px;
    left: 50px;
}
.orbit{
    border-radius: 50%;
    border:1px solid #fff;
}
#orbit-1{
    width: 300px;
    height: 300px;
}
#orbit-2{
    width: 400px;
    height: 400px;
}
#orbit-3{
    width: 500px;
    height: 500px;
}
#orbit-4{
    width: 600px;
    height: 600px;
}